<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create account</title>
    <link rel="stylesheet" href="/style2.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Create Account</h1>
      </div>       
    </header>
    <br />
      <% if (locals.successMessage) { %>
        <script>
          alert("<%= locals.successMessage %>");
      </script>
        <!-- <p style="color: green;"></p> -->
      <% } %>
      <% if (locals.error) { %>
        <script>
          alert("<%= locals.error %>");
      </script>
        <!-- <p style="color: red;"></p> -->
      <% } %>
      <form action="/create_account" method="post">
        <h2>Create New Account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      
        <button type="submit">Submit</button>
      </form>
  </body>
  <div class="footer-content">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/survey">Fill Out Survey</a>
  </div>
</html>