<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/style3.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <img src="intex_logo.webp" alt="Logo" class="logo" />
        <h1>Effects of Social Media on Mental Health</h1>
      </div>
    </header>
    <div class="navbar">
      <a href="/login">Login</a>
      <a href="/create_account">Create Account</a>
      <a href="/survey">Fill Out Survey</a>
      <a href="/admin_data">test link, <%= name %></a>
    </div>
    <div class="container">
      In a world deeply interconnected by social media, we recognize the
      profound influence it can have on our lives, particularly on our mental
      well-being. Welcome to a space where we explore and gather insights into
      the effects of social media on mental health. <br /><br />
      <h2>About Us</h2>

      Our platform is dedicated to understanding the nuanced relationship
      between social media usage and mental health. We believe that by fostering
      awareness and collecting valuable data, we can contribute to a deeper
      understanding of these complex dynamics.
      <br /><br />
      <h2>Join the Conversation</h2>
      By participating in our survey, you become part of a community dedicated
      to fostering awareness, understanding, and positive change. Together,
      let's navigate the digital landscape and empower each other to cultivate a
      healthier relationship with social media.<br /><br />
      Thank you for being part of our mission!
    </div>
    <div class='tableau-container' id='viz1701922813307'  style= 'position: relative'>
      <noscript>
        <a href='#'>
          <img alt='INTEX Dashboard' 
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEX_17019224861240&#47;Dashboard1&#47;1_rss.png' 
          style='border: none' /></a>
      </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='INTEX_17019224861240&#47;Dashboard1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEX_17019224861240&#47;Dashboard1&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
    </div>                
      <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1701922813307');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
        else { vizElement.style.width='100%';vizElement.style.height='927px';}                     
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>
    <footer>
      <div class="footer-content">
        <p>&copy; 2023 Kalm. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>